/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */


 :root {
  /* Azul refinado */
  --ifm-color-primary: #0054B4;
  --ifm-color-primary-dark: #004494;
  --ifm-color-primary-darker: #00397e;
  --ifm-color-primary-light: #1a6edb;
  --ifm-color-primary-lighter: #4f90e3;

  /* Navbar destacada */
  --ifm-navbar-background-color: #00397e;
  --ifm-navbar-link-color: #ffffff;
  --ifm-navbar-link-hover-color: #E6B800;

  /* Hero section */
  --ifm-hero-background-color: #0054B4;
  --ifm-hero-text-color: #ffffff;
}

/* Tema Escuro */
html[data-theme='dark'] {
  --ifm-color-primary: #E6B800;
  --ifm-background-color: #001a33;
  --ifm-navbar-background-color: #000f2b;
  --ifm-navbar-link-color: #ffffff;
  --ifm-navbar-link-hover-color: #E6B800;
}
