.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);

  /* Adicionado: animação suave no hover */
  transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
  border-radius: 8px;
}

.cardContainer:hover {
  transform: scale(1.03); /* crescimento suave */
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.2rem;
}

.cardDescription {
  font-size: 0.8rem;
}
